<% if @article.errors.any? %>
    <ul>
      <%= @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
    </ul>
<% end %>
<%= bootstrap_form_for @article do |f| %>
    <div>
      <h3><%= "Editing #{@article.title}" %></h3>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :body %>
    </div>
    <div>
      <%= f.cktext_area :body, rows: 10 %>
    </div>
    <div><br />
      <%= f.submit %>
    </div>
<% end %>