<!--<h1>Admin Panel</h1>-->

<div id="linkbox" style="margin: 10px;">
    <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> |
        <%= link_to('Edit Account', edit_user_registration_path) %>
    <% else %>
        <%= link_to('Login', new_user_session_path)  %> |
        <%= link_to('Register', new_user_registration_path)  %>
    <% end %>
</div>


<div class="container-push">

  <!-------->
  <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#Products" data-toggle="tab">Products</a></li>
      <li><a href="#Content" data-toggle="tab">Content</a></li>
      <li><a href="#Contact" data-toggle="tab">Contact</a></li>
      <li><a href="#Blog" data-toggle="tab">Blog</a></li>
      <li><a href="#Transactions" data-toggle="tab">Transactions</a></li>
      <li><a href="#Users" data-toggle="tab">Users</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">

      <!------------------------------------------------------ Product - START ----------------------------------------------------------------------->


      <div class="tab-pane active" id="Products">

        <h1 style="margin-left:30px;">Products</h1>
        <div class="well">
            <h3>Add Product: </h3>
            <%= bootstrap_form_for(@product, :html => {:multipart => true}, layout: :horizontal, control_col: "col-sm-4") do |f| %>
                <%= f.text_field :name %><br/>
                <%= f.text_area :description %><br/>
                <%= f.number_field :size, label: "Default # in bundle" %><br/>
                <%= f.number_field :stock %><br/>
                <%= f.number_field :serial %><br/>
                <%= f.number_field :price, label: "Price (In cents)" %><br/>
                <%= f.number_field :shipping, label: "Shipping Cost (In cents)" %><br/>
                <%= f.text_field :order %><br/>
                <%= f.file_field :image %><br/>
                <span style="margin-left:10vw"><%= f.submit %></span><br/><br/>
            <% end %>
        </div>

        <% @products.each do |g| %>
            <div class="well">
                <p>Name: <%= g.name %></p>
                <p>Description: <%= g.description.html_safe %></p>
                <p># in bundle: <%= g.size %></p>
                <p># in Stock: <%= g.stock %></p>
                <p>Serial #: <%= g.serial %></p>
                <p>Price: <%= number_to_currency(g.price/100.00) %></p>
                <p>shipping cost: <%= number_to_currency(g.shipping/100.00) %></p>
                <p>Position #: <%= g.order %></p>
                <%= image_tag g.image.url, :class => 'sized pull-left' %><br/>
                <div style="clear:both;">
                    <%= link_to "Delete", product_path(g), method: :delete %> |
                    <%= link_to "Edit", edit_product_path(g) %>
                </div>
                <br/>
            </div>
        <% end %>


      </div>
      <!------------------------------------------------------ Product - END ----------------------------------------------------------------------->
      <!------------------------------------------------------ Content - START ----------------------------------------------------------------------->
      <div class="tab-pane" id="Content">
        <h1 style="margin-left:30px;">Content</h1>

        <div class="well">
          <%= bootstrap_form_for @content, controller: :contents, action: :create, layout: :inline do |content| %>
              <h3>Add a new content block</h3><br/>
              <%= content.text_field :title %>
              <%= content.select :category, [["About", 1], ["Advantages", 2], ["Tech Specs", 3], ["Usage", 4], ["FAQ", 5]], {label: "Category"}, {class: "selectpicker"} %>
              <%= content.number_field :order, {label: "Position #"} %><br/><br/>
              <%= content.text_area :body, :rows => 5, :cols => 100 %><br/><br/>
              <%= content.primary "Add content block" %>
          <% end %>
        </div>




        <% 5.times do |catcounter| %>
            <% catcount = catcounter + 1 %>
            <div class="well">
              <h3><%= catcount_to_cat(catcount) %></h3>
              <% @content_items.where(:category => catcount.to_s).order(:order).each do |f| %>
                  <div class="well">
                    <div class="row">
                      <div class="col-md-6">
                        <h3><%= f.order.ordinalize %> content block</h3>
                        <h5><%= f.title %></h5>
                        <%= f.body.html_safe %><br/>
                        <%= link_to "Delete", content_path(f), method: :delete, data: {confirm: "Are you sure you wish to delete this content block? It can not be restored."} %>
                        |
                        <%= link_to "Edit", edit_content_path(f) %>
                      </div>
                      <div class="col-md-6">
                        <h3>Add New Image</h3>

                        <%= bootstrap_form_for(@gallery, :html => {:multipart => true}, layout: :inline, action: :create) do |g| %>
                            <%= g.number_field :order %>
                            <%= g.number_field :width %><br/>
                            <%= g.hidden_field :content_id, value: f.id %><br/>
                            <%= g.file_field :image %><br/><br/>
                            <%= g.primary "Add image" %>
                        <% end %>
                      </div>
                    </div>
                    <div class="image_box">
                      <h3>Images:</h3>


                      <% Gallery.where(:content_id => f).order(:order).each do |h| %>
                          <div class="image_box_inner">
                            <p>Image <%= h.order %> | Width: <%= h.width %>px</p>
                            <%= link_to "Delete", gallery_path(h), method: :delete, data: {confirm: "Are you sure you wish to delete this image? It can not be restored."} %>
                            <%= image_tag h.image.url, :style => "height: 200px; margin-left:0px;" %>
                          </div>
                      <% end %>
                      <div style="clear:both;"></div>
                    </div>
                  </div>


              <% end %>


            </div>
        <% end %>


      </div>
      <!------------------------------------------------------ Content - END ----------------------------------------------------------------------->
      <!------------------------------------------------------ Contact - START ----------------------------------------------------------------------->
      <div class="tab-pane" id="Contact">
        <h1 style="margin-left:30px;">Contact Info</h1>


        <div class="well">
          <h4>New contact</h4>

          <%= bootstrap_form_for @design, layout: :horizontal, control_col: "col-sm-6" do |i| %>
              <%#= i.text_field :sitename %>
              <%= i.text_field :name %>
              <%= i.text_field :email %>
              <%= i.text_field :phone %>
              <%= i.text_field :address %>
              <span style="margin-left:10vw"><%= i.submit "New Contact Block" %></span>
          <% end %>

        </div>



        <% @designs.each do |f| %>
            <div class="well">
              <h3><%= f.name %></h3>
              <p><%= number_to_phone(f.phone) %></p>
              <p><%= f.email %></p>
              <p><%= f.address.html_safe %></p>
              <%= link_to "Edit Article", edit_design_path(f) %> |
              <%= link_to "Delete", design_path(f), method: :delete, data: {confirm: "Are you sure you wish to delete this contact? It can not be restored."} %>
            </div>
        <% end %>















      </div>

      <!------------------------------------------------------ Contact - END ----------------------------------------------------------------------->
      <!------------------------------------------------------ Blog - START ----------------------------------------------------------------------->
      <div class="tab-pane" id="Blog">
        <h1 style="margin-left:30px;">Blog</h1>

        <div class="well">
          <h4>New post</h4>
          <%= bootstrap_form_for @article do |f| %>
              <%= f.text_field :title %>
              <%= f.label :body %>
              <%= f.cktext_area :body, rows: 10 %><br/>
              <%= f.submit %>
          <% end %>
        </div>


        <% @articles.each do |article| %>
            <div class="well">
              <h3><%= article.title.html_safe %></h3>
              <h4><%= article.created_at.strftime("%Y-%m-%d") %></h4>
              <p><%= article.body.html_safe %></p>
              <%= link_to "Edit Article", edit_article_path(article) %> |
              <%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure you wish to delete this article? It can not be restored."} %>
            </div>
        <% end %>

        <br/>


      </div>
      <!------------------------------------------------------ Blog - END ----------------------------------------------------------------------->
      <!------------------------------------------------------ Transactions - START ----------------------------------------------------------------------->
      <div class="tab-pane" id="Transactions">

        <h1 style="margin-left:30px;">Orders</h1>
        <div class="container">







        <% @transactions.each do |f| %>
            <div class="well">
              <div class="panel-body">
                <div class="col-md-6">
                  <p><b>Name: </b><%= f.first_name || "N/A" %></p>
                  <p><b>Address: </b><%= f.full_shipping_address %></p>
                  <p><b>Telephone Number: </b> <%= number_to_phone(f.phone) || "N/A" %></p>
                  <p><b>Email: </b><%= f.email || "N/A" %></p>
                </div>
                <div class="col-md-6">
                  <p><b>Status: </b><span style=" margin-right:30px; color:<%= complete_to_color(f.complete) %>;"><%= complete_to_context(f.complete) %></span> <%= link_to 'Mark as completed', transactionn_path(f), method: :post unless f.complete == true %> </p>
                  <p><b>Date: </b><%= f.created_at.strftime("%Y-%m-%d") %></p>
                  <p><b>Order size: </b><%= f.purchases.count %></p>
                  <p><b>Total: </b><%= number_to_currency((f.purchases.sum(:price) + f.purchases.sum(:shipping))/100.00) %></p>
                  <%= link_to "Remove order", transactionn_path(f), method: :delete, data: {confirm: "Are you sure you wish to delete this order? It can not be restored."} %>

                </div>

              </div>

              <table class="table">
                <% f.purchases.each do |g| %>
                    <tr>
                      <td style="width:500px;"><%= g.name %></td>
                      <td style="width:500px;">#<%= g.serial %></td>
                      <td style="width:500px;"><%= number_to_currency(g.price/100) %> + <%= number_to_currency(g.shipping/100) %> (Shipping)</td>
                    </tr>
                <% end %>
              </table>
            </div><!--well-->
        <%end%>

        </div>


      </div>
      <!------------------------------------------------------ Transactions - END ----------------------------------------------------------------------->
      <!------------------------------------------------------ Users - START ----------------------------------------------------------------------->
      <div class="tab-pane" id="Users" style="margin-bottom: 550px;">

        <h1 style="margin-left:30px;">Users</h1>
        <div class="container">
        <div class="panel panel-default">

          <div class="panel-heading">Manage Users</div>
          <div class="panel-body">
            Only Admins can sign onto the admin panel.<br />
            To share admin functionality with others, simply change their role from 'User' to 'Admin'.<br />
            Note: VIPs, like Users, have no ability to view or edit content in the admin panel.
          </div>

          <table class="table">
            <tbody>
            <% @users.each do |user| %>
                <tr>
                  <%= render user %>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        </div>
      </div>
      <!------------------------------------------------------ Users - END ----------------------------------------------------------------------->
    </div>
  </div>







  <script type="text/javascript">
      jQuery(document).ready(function ($) {
          $('#tabs').tab();
      });
  </script>

</div> <!-- container -->













