<!DOCTYPE html>
<html>
<head>
  <title>Flat-Jack</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://js.stripe.com/v2/", "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= tag :meta, name: 'stripe-key', content: ENV['STRIPE_TEST_PUBLISHABLE_KEY'] %>

  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon; charset=binary">
  <%#= favicon_link_tag'/myicon.ico' %>
  <link rel="stylesheet" href="css/cosmos.css" />
  <link rel="stylesheet" type="text/css" href="css/styles.css" />



</head>
<body>
<nav class="navbar navbar-default">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" style="visibility: hidden;" data-toggle="collapse" data-target="#droparea">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="index.html"><img height=25px src="logo.png"/></a>-->
      <%#= image_tag 'logo.png' %>
      <!--<a href="/"><%#= image_tag 'logo.png', :class => "top-icon navbar-brand" %></a>-->
      <img href="/" alt="Logo" class="top-icon navbar-brand" src="/assets/logo-d4bf43ff9880030c57ab34ae1a60db07.png">
    </div>
    <!--<div>-->
      <!--Made and Engineered in Germany-->
      <!--Simply on Air-->
    <!--</div>-->

    <ul class="nav navbar-nav navbar-left">
      <li class="h4" style="padding-top: 5px;">Made and Engineered in Germany - Simply on Air</li>
    </ul>

    <!--<div class="navbar-header">-->
        <!--&lt;!&ndash;<h4 style="margin-top: 15px;">Made and Engineered in Germany <span class="h4">- simply on air</span></h4>&ndash;&gt;-->
    <!--</div>-->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="droparea">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><b>Home</b></a></li>
        <li><a href="blog"><b>Blog</b></a></li>
        <!--<li><a href="press.html"><b>Press</b></a></li>-->
        <li><a href="contact"><b>Contact</b></a></li>
        <li><a href="order"><b>Order</b></a></li>
        <!--<li><a href="cart.html"><b>Cart</b></a></li>-->
      </ul>
    </div>
    <!-- /.navbar-collapse -->

  </div>
  <!-- /.container-fluid -->

</nav>

<div class="myborder"></div>
    <%= yield %>
<div class="myborder"></div>

<div class="myfooter">
  <div class="row">
    <div class="col-md-2"><%= image_tag 'logo.png', :class => "bottom-icon" %></div>
    <% if Design.count > 0 %>
        <% @designs = Design.first %>
    <div class="col-md-2"><%= @designs.email %></div>
    <div class="col-md-1"><%= number_to_phone(@designs.phone, area_code: true) %></div>
    <% end %>
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="copyright">&copy; 2014 flat-jack<sup>&#174;</sup></div>
    </div>
    <div class="col-md-1">
      <div id="fb-root"></div>
      <div class="fb-like" data-href="https://www.facebook.com/pages/Flat-Jack/774414999312633" data-width="120" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
    </div>
  </div>
</div>



</body>








<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    if($('.navbar-toggle').css('display') !='none'){
        $(".navbar-toggle").trigger( "click" );
    }

    $( document ).ready(function() {
        $('.navbar-toggle').click();
    });
</script>







<script>
    $('.titletext').prepend('<img src="img/yellowlines.png" style="height:15px; width:30px; margin-right:5px; padding-top:5px; float:left;" />');
</script>

</html>
